*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container{
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-ticket{
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
}

